@media screen and (max-width: 400px) {
  .footer-list {
    gap: 2rem;
  }
  footer {
    padding: 4rem 2rem;
  }
  ul li {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .b {
    font-weight: bold;
    font-size: 1rem;
  }
  .footer-news h3,
  .m-left h2 {
    font-size: 2rem;
  }
  .services h3 {
    font-size: 1.9rem;
  }
  .s-box h4 {
    font-size: 1.4rem;
  }
  .hero-right h2 {
    font-size: 2rem;
  }

  .h-container,
  .hero-container,
  .m-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1rem;
  }
  .blur-header {
    height: 20rem;
    width: 20rem;
  }
  .h-container {
    padding-bottom: 1rem;
  }
  .s-container {
    width: 80%;
  }
}
@media screen and (max-width: 460px) {
  .exp-container {
    padding: 2rem;
  }
  .hero-right {
    padding: 1rem 0px;
  }
  .services h3 {
    margin: 2rem 0;
  }
  .m-left h2 {
    font-size: 2rem;
  }
  header {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .img {
    width: 5rem;
  }
  .nav-btns {
    display: none;
  }
  .active {
    display: block;
  }
  .nav-container {
    padding: 2rem;
  }
  .s-container {
    display: flex;
    flex-direction: column;
    padding: 0px 3rem;
    width: 100%;
    gap: 2rem;
  }
  .s-container .s-b-push {
    width: 22rem;
  }
  .s-box:nth-child(5) {
    margin-right: 0px;
  }
  .blur {
    top: 20rem;
    transform: translate(-100%, 10%);
  }
  .exp h2 {
    font-size: 1.8rem;
  }
  .exp h2 br {
    display: none;
  }
  .exp-blur {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .footer-coln1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .h-container,
  .m-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .header-right img {
    width: 100%;
    height: 100%;

    text-align: center;
  }
  .blur-header {
    transform: translate(-130%, 10%);
  }
  .header-left h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .header-left,
  .m-left {
    text-align: center;
  }
  .header-left h1 br {
    display: none;
  }
  .m-right .blur-header {
    transform: translate(-130%, -30%);
  }

  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;
  }
  .hero-btn {
    float: initial;
  }
  .hero-right h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .s-container {
    grid-template-columns: 1fr 1fr;
  }
  .s-box:nth-child(4) {
    margin-right: 0px;
  }
  .s-box {
    width: 27rem;
    height: 15rem;
    padding: 2rem;
  }
  .footer-coln2 {
    flex-direction: column;
  }
}

@media screen and (max-width: 1120px) {
  .s-container {
    padding: 2rem;
  }
  .s-box {
    width: 18rem;
    height: 15rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 1230px) {
  .hero-right h2 br {
    display: none;
  }

  .hero-left img {
    width: 100%;
    height: 100%;
  }
  .hero-container {
    gap: 2rem;
  }
  .s-container {
    gap: 10px;
    padding: 2rem;
  }
}
